/*
    Component: Side Menu
    Author: Tudor
    Type: Style
*/


.side_menu
{
    /* Reset the settings of the unordered list. */

    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.unordered_list
{
    font-size: 10px;
}


.list_item
{
    font-size: 10px;
}