@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main_button {
  @apply bg-blue-500 hover:bg-blue-600 text-white;
}

.main_page {
  @apply flex flex-col items-center w-4/5 ml-16;
}

.appointments_list_max_height, .analyses_list_max_height {
  height: 30.5rem;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
.appointments_list_max_height::-webkit-scrollbar, .analyses_list_max_height::-webkit-scrollbar {
  display: none;
}

.user_form_column {
  @apply flex flex-col bg-blue-100 w-80 rounded-lg;

  .input_field {
    @apply mb-4 h-12 rounded-lg p-2;

    &:focus {
      outline: none;
    }
  }
}

.fill_form_column {
  @apply flex flex-row justify-center bg-blue-100 w-full h-48 p-4 rounded-lg;

  .input_field {
    @apply flex flex-col justify-between w-full h-full rounded-lg p-2;

    &:focus {
      outline: none;
    }
  }
}

.input_field {
  @apply flex flex-row mb-4 h-20 rounded-lg p-2;

  &:focus {
    outline: none;
  }
}

.w-89_percent{
  width: 89%;
}